*/5 * * * * cd /opt/pi_farm/current && bash metrics_collector.sh &> /dev/null
8,38 3-21 * * * cd /opt/pi_farm/current && bash take_picture.sh &> /dev/null
2,22,42 * * * * cd /opt/pi_farm/current && bash uploader.sh &> /dev/null
